html, body {
  height: 100%;
}

#txt_progress {
  margin-top: 25%;
}

.text-border{
    -webkit-text-stroke: 2px black; /* width and color */
}

/* Element Classes */
.background {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  background-color: #00568e;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: #00233adf;
  width: 100%;
  padding: 10px;
  position: relative;
}

.image_wst {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
}

.developed_by {
  max-width: 100%;
  left: 0px;
  top: 0px;
}

.developed_by_text {
  color: rgba(255, 255, 255, 1);
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0;
}

.btn-combo {
  border-radius: 0 .25rem .25rem 0;
}

.input-combo {
  border-radius: .25rem 0 0 .25rem;
}

/* Buttons */
.ui_button {
  background-color: #008fc0;
  border: 1px solid white;
  width: 100%;
}

.test_button {
  background-color: #008fc0;
	position: relative;
  left: 0px;
  top: 0px;
  width: 40%;
}

.generate_charts_button {
  width: 200px;
  max-width: 100%;
  height: 46px;
}

/* Selectors */
.station_selector {
  width: 350px;
  max-width: 100%;
  height: 400px;
}

.param_selector {
  width: 350px;
  max-width: 100%;
  height: 400px;
}

.multi_selector {
  width: 350px;
  max-width: 100%;
  height: 350px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text_info {
  color: rgba(255, 255, 255, 1);
  width: 161px;
  height: 17px;
  left: 206px;
  top: 9px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.server_database_input {
  width: 440px;
	position: absolute;
  top: 50%;
  left: 20%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.field_title {
  color: rgba(255, 255, 255, 1);
	position: relative;
  left: 0px;
  top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.server_text {
  width: 59px;
  height: 17px;
}

.page_title {
  color: rgba(255, 255, 255, 1);
  
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 42px;
  letter-spacing: 0;
}

.test_connection_div {
  position: relative;
  top: 0;
  left: 50px;
  padding: 3px;
  width: 100%;
  height: 42px;
  background-clip: padding-box;
  border-radius: 0.25rem;
}

/* Animations */
.wave-animation {
  background: #00568e;
  height: 200px;
  position: relative;
}

.wave{
	position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../assets/wave.png);
  background-size: 1000px 100px;
}

.wave.wave1{
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

.wave.wave2{
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: 5s;
  bottom: 10px;
}

.wave.wave3{
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

.wave.wave4{
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}



@keyframes animate{
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: -1000px;
  }
}

@keyframes animate2{
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: -1000px;
  }
}

.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  opacity: 0.8;
}

/* Close Animations */

.hidden {
  display: none !important;
}

.content-loading {
	position: absolute;
  width: 100%;
  height: 100%;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.disable-pointer-events{
    pointer-events: none;
}